@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

body {
  background-color: rgba(118, 118, 229, 0.39);
  overflow-x: hidden;
  background-repeat:no-repeat;
  background-size: 1920px 1080px;
  overflow: hidden;
}

.info {
  text-align: center;
  margin-bottom: -200px;
  height: 12px;
  margin-top: 250px;
}

#pokemonId {
  font-size: 18px;
  font-weight: bold;
  margin-left: -323px;
}

.Pokemon{
  margin-left: 170px;
  margin-top: -100px;


}

input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  outline: none;
}

.Boton1{
  display: flex;
  justify-content: space-between;
  margin-top: -1px;
  margin-top: 100px;
  margin-left: 30px;
}

button{
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 50px;
  
}

.Boton2{
  margin-left: 180px;
  margin-top: -37px;
}

button:hover {
  background-color: #555;
}

.Name_or_Number{
  width: 305px;
  margin-left: 35px;
  margin-top: -193px;
}