*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body html{
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
}

.background-imnage{
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.4);
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    animation: fadeIn 1s ease forwards;
}

.Title{
    font-size: 6.2rem;
    margin-bottom: 40px;
    color: #FFD700;
    text-shadow: 4px 4px 10px #000;
    margin-top: -900px;
    margin-left: 650px;
}

.menu-button, .start-button{
    padding: 30px 90px;
    font-size: 2.8rem;
    border: none;
    border-radius: 25px;
    background-color: #ff9a00;
    color: white;
    cursor: pointer;
    box-shadow: 0 6px 25px rgb(0, 0, 0, 0.6);
    transition: all 0.4s ease;
    margin-top: 60px;
    margin-left: 800px;
}

.menu-button:hover, .start-button:hover{
    background-color: #ffc100;
    transform: scale(1.05);
}

.hidden{
    display: none;
}

#Rules {
    position: absolute;
    top: 60%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.75);
    color: #333;
    padding: 20px 30px;
    border-radius: 15px;
    width: 60%;
    max-width: 490px;
    text-align: left;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    z-index: 10;
    overflow: auto;
    max-height: 50vh;
}
.rules-list {
    margin: 15px 0;
    padding-left: 20px;
    width: 100%;
}

#StartGame.start-button {
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 1.4rem;
    border-radius: 12px;
}

.card{
    width: 120px;
    height: 180px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: scale(0.95);
    }
    to{opacity: 1;
    transform: scale(1);}
}